{
  "extends": [
    "standard",
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "plugin:ramda/recommended",
    "prettier"
  ],
  "plugins": ["ramda", "react-hooks", "flowtype", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "parser": "flow" }],
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "strict": ["error", "global"],
    "no-unused-vars": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "React": "writable"
  }
}
